
    <h2>All Jungle</h2>
    <a href="/Jungles/insert">Add +</a>
    <table>
        <thead>
            <tr><th>location</th><th>isRainforest</th><th>Actions</th><th>Created At</th></tr>
        </thead>
        <tbody>{{range .Records}}<tr><td>{{.Location}}</td><td>{{.IsRainforest}}</td>
        <td>
            <a href="jungles/{{.ID}}/edit">Edit</a> |
            <a href="jungles/{{.ID}}/delete">Delete</a>
        </td>
        <td>{{.CreatedAt}}</td>
    </tr>{{end}}</tbody>
    </table>
    